absl-py==2.3.1
altair==5.5.0
astunparse==1.6.3
attrs==25.3.0
cachetools==6.1.0
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
flatbuffers==25.2.10
gast==0.6.0
h5py==3.14.0
idna==3.10
Jinja2==3.1.6
jsonschema==4.24.1
keras==3.10.0
libclang==18.1.1
Markdown==3.8.2
MarkupSafe==3.0.2
matplotlib==3.10.7
ml_dtypes==0.5.1
numpy==2.0.2
opt_einsum==3.4.0
pandas==2.3.1
pillow==11.3.0
plotly==6.5.0
protobuf==5.29.5
requests==2.32.4
scikit-learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
six==1.17.0
streamlit==1.47.0
tensorboard==2.20.0
tensorflow==2.20.0
tensorflow-estimator==2.15.0
tf_keras==2.20.1
